{% extends "pages/layout.html" %}

{% block body %}

<h1 id="title">Simply Password</h1>
<main id="passwords">
                                        <!-- logout button -->
    <h2>{{ user.username }}'s Passwords <a href="/logout" id="logout" class="button">Logout</a></h2>
    <br />
    <!-- password counter & add new password button -->
    {% if length == 1 %}
        <p id="num-passwords">1 password <button id="add-password-btn">Add new password</button></p>
    {% else %}
        <p id="num-passwords">{{ length }} passwords <button id="add-password-btn">Add new password</button></p>
    {% endif %}
    <!-- password searchbar -->
    <div id="search">
        <input type="text" placeholder="Search Passwords" onkeyup="searchPasswords(this)" />
    </div>
    <!-- passwords displayed using a for loop -->
    {% for password in passwords %}
        <form class="passwords" id="{{ password.id }}" onsubmit="prepUpdatePassword(event)">
            {% csrf_token %}
            <input type="text" class="url" name="url" placeholder="Website Address" value="{{ password.url }}" /> <!-- website address/url -->
            <input type="text" class="login" name="login" placeholder="Website Username" value="{{ password.username }}" /> <!-- Website login/username -->
            <input type="password" class="password" name="password" class="website-password" placeholder="Website Password" value="{{ password.password }}" />  <!-- Website password -->
            <button type="button" class="show" onclick="prepShowPassword(event)"><span>&#128270;</span></button> <!-- Show password button -->

            <input type="submit" class="update" value="Update" />  <!-- Update password button -->
            <!-- Delete Password -->
            <button type="button" class="delete" onclick="prepDeletePassword('{{ password.id }}')">DELETE</button>
        </form>
    {% empty %}
        <p>No passwords saved.</p>
    {% endfor %}
    <!-- error message if unable to get or load the passwords -->
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</main>

<!-- New password pop-up/form. Hidden by deafault -->
<div id="new-password" class="pop-up-bg hide">
    <div id="password-container" class="pop-up-container">
        <h2>Add New Password</h2>
        <form action="/add-password", method="POST">
            {% csrf_token %}
            <input type="text" name="url" placeholder="Website Address" /> <!-- website address -->
            <input type="text" name="login" placeholder="Website Username" /> <!-- Website login/username -->
            <input type="password" name="password" placeholder="Website Password" /> <!-- Website password -->
            <input type="submit" class="button" value="Add" />
        </form>
    </div>
</div>

<!-- Master password pop-up/form. Hidden by default - used to verify the user (for additional precaution) whenever they try to view, update or delete a password -->
<div id="check-password" class="pop-up-bg hide">
    <div id="check-password-container" class="pop-up-container">
        <h2>Enter Your Master Password</h2>
        <form id="master-password-form">
            {% csrf_token %}
            <input id="check-password-password" type="password" name="password" placeholder="Master Password" />
            <input type="submit" class="button" value="Check" />
            <p id="password-error" class="hide">Password entered is incorrect, please try again.</p> <!-- Hidden by default -->
        </form>
    </div>
</div>

<script src="../../static/assets/app.js" type="text/javascript" ></script>

{% endblock %}